In [5]:
emp1=list(name="xyz",dept="CSE")
class(emp1)
emp1

[1] "list"

$name
[1] "xyz"

$dept
[1] "CSE"

In [4]:
e=(name="harish")
class(e)
e

[1] "character"

[1] "harish"

In [6]:
emp1$name

[1] "xyz"

In [7]:
emp1$dept

[1] "CSE"

In [3]:
student=list(name="harish AK",uid="e0121008",course=c("java","python"))
class(student)  # class creation
student         # object creation

[1] "list"

$name
[1] "harish AK"

$uid
[1] "e0121008"

$course
[1] "java"   "python"

In [4]:
student$course[2]

[1] "python"

In [7]:
words=c(" i hate python","java"," i love Python","C")

In [8]:
grepl(pattern="Python",words,ignore.case=TRUE)  # grep l returns the boolean value
                                                #ignore.case TRUE means its consider both upper and lowercase as same

[1]  TRUE FALSE  TRUE FALSE

In [9]:
grep(pattern="Python",words,ignore.case=TRUE)    # without l in grep, it will show the match values index

[1] 1 3

In [10]:
grep("Python",words,ignore.case=TRUE,value=TRUE)  # 'value' used when we search the word in a sentence. without 'value' 
                                                              # it print false, without value it prints the index alone

[1] " i hate python" " i love Python"

In [23]:

x=c("My name is Suriya my student id is 121003 joined on 12-01-2022 at 10:13:08 and my number is 9150572003 , my official mail id is e0121003@sret.edu.in")
str_extract_all(x,pattern="[6-9]{1}[0-9]{9}")    # phone numbers  [6-9]{1} means 1st number should between 6 to 9
str_extract_all(x,"[:digit:]{2}-[:digit:]{2}-[:digit:]{4}")   # date
str_extract_all(x,"[\\w]+@[\\w]+.[\\w]+")           # mails
str_extract_all(x,"[:digit:]{2}:[:digit:]{2}:[:digit:]{2}")   # time

[[1]]
[1] "9150572003"

[[1]]
[1] "12-01-2022"

[[1]]
[1] "e0121003@sret.edu"

[[1]]
[1] "10:13:08"

In [8]:
str_extract_all(x,"\\d{2}-\\d{2}-\\d{4}")   # date

[[1]]
[1] "12-01-2022"

In [2]:
#word start with c and ends with e

library(stringr)
x=c("My name is Suriya my student id is 121003  cringe  joined on 12-01-2022 and cage my number is 9150572003  cake , my official  coke mail id is  code e0121003@sret  coffee .edu.in")
str_extract_all(x,"c[\\w]+e")

[[1]]
[1] "cringe" "cage"   "cake"   "coke"   "code"   "coffee"

In [3]:
#Write a R code to print first 2 digt followed by the orbitary of character eg 12 abc 132 xyz output is 12 abc

y=c("12 abc sasd 13 aaa 132 xyz")
str_extract_all(y,"\\d{2}\\b\\s[\\w]+")

[[1]]
[1] "12 abc" "13 aaa" "32 xyz"

In [7]:
# credit card 

a="1234 1231 1243 4224"
str_extract_all(a,"\\d{4}+\\s\\d{4}+\\s\\d{4}+\\s\\d{4}")

[[1]]
[1] "1234 1231 1243 4224"

In [10]:
#Replacing the word there are two keywords sub and g sub
y=c("R is a programing language R")
sub("R","nice",y)           # sub only change the first occurance
                                      
y=c("R is a programing language R")     # gsub change all occurance
gsub("R","nice",y)

[1] "nice is a programing language R"

[1] "nice is a programing language nice"

In [72]:
#print the word that contains a vowel aeiou and AEIOU

s=c('A','BAC','xyz','clue','code','Cyber','SRT')
grep(pattern="[aeiouAEIOU]",s,value=TRUE)

[1] "A"     "BAC"   "clue"  "code"  "Cyber"

In [9]:
#print the word that contains vowel a or A
s=c('A','BAC','xyz','clue','code','Cyber','SRT')
grep(s,pattern="[aA]",value=TRUE)

[1] "A"   "BAC"