In [1]:
salary=as.numeric(readline("Enter your salary"))
years=as.numeric(readline("Enter your work years"))
if(years>=6){
    bonus=salary*0.12
    total=bonus+salary
}
print(paste("your salary is ",total))

Enter your salary1000
Enter your work years7
[1] "your salary is  1120"

In [4]:
a  = c()
tot = 6
for (j in seq(tot)){
    a[j] = as.numeric(readline(paste("enter number",j,":")))
}
o = c()
e = c()
for (i  in seq(a)){
    if (i %% 2==0){
        e[i] = print(i)
    }
    if (i %% 2==1){
        o[i]= print(i)
    }
    
}
print(o)
print(e)

enter number 1 :1
enter number 2 :2
enter number 3 :3
enter number 4 :4
enter number 5 :5
enter number 6 :6
[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6
[1]  1 NA  3 NA  5
[1] NA  2 NA  4 NA  6

In [ ]:
a=as.numeric(list())
i=1
while(i<=6){
    a[i]=as.numeric(readline("Enter the element:"))
    i=i+1
}
a
e=list()
o=list()
i=1
q=1
w=1
while(i<=6){
    if(a[i]%%2==0){
        e[q]=a[i]
        q=q+1
    }else{
        o[w]=a[i]
        w=w+1
    }
    i=i+1
}
e
o

In [12]:
a=function(name,uid,branch,sub="ml"){
    print(name)
    print(uid)
    print(branch)
    print(sub)}
name=readline("enter the name ")
uid=readline("enter the uid ")
sub=readline("enter the subject ")
branch=readline("enter the branch ")
    if(sub=="")
    {
    a(name,uid,branch)
}else{
        a(name,uid,branch,sub)
    }

enter the name har
enter the uid 12
enter the subject
enter the branch q
[1] "har"
[1] "12"
[1] "q"
[1] "ml"

In [1]:

library('stringr')

In [3]:
num=as.numeric(readline("Enter the number:"))
a="[7-9]{1}[0-9]{9}"
if(grepl(a,num))
    {
        paste("Number valid")
    }else{
        paste("Number invalid")
    }

Enter the number:9876543212

[1] "Number valid"

In [13]:
print("1.to get models 1          2.to get color 2           3.to get RTO cost 3          4.to get location 4")
case=as.integer(readline("case no:"))
model=function(mod){
    mod=c('xuv','bmwD20','dexter')
    print(mod)}
color=function(col){col=c('blue','red','white')
    print(col)}
cost=function(cos){
    cos=20000
    print(cos)}
location=function(loc){
    loc="porur"
    print(loc)
}
switch(case,model(mod),color(col),cost(cos),location(loc))

[1] "1.to get models 1          2.to get color 2           3.to get RTO cost 3          4.to get location 4"
case no:3
[1] 20000

In [ ]:
case=readline("Enter the operation to perform: ")
switch(case,Models=c("R15","MT15"),Color=c("R15-Black,Blue","MT15-Blue,White"),Price=c("R15-2.10l","MT15-1.9l"),Showroom=c("Ashok Nagar","Adayar"))

In [36]:
a=c('www.zframz.com','www.wikipedia.org','www.asp.net','www.abcd.in')
domain="\\w+"
b=str_extract_all(a,domain)
for(i in b){
    print(i[3])
}

[1] "com"
[1] "org"
[1] "net"
[1] "in"

In [39]:
a="[a-z]+$"   #$-end character
d=c('www.zframz.com','www.wikipedia.org','www.asp.net','www.abcd.in')
b=str_extract_all(a,string=d)
b

[[1]]
[1] "com"

[[2]]
[1] "org"

[[3]]
[1] "net"

[[4]]
[1] "in"