In [2]:
#DAY 2

a=c(1,2,3,100,200,300,400)
a

[1]   1   2   3 100 200 300 400

In [3]:
a[c(1,3,5)]

[1]   1   3 200

In [4]:
a[1:3] # indexing

[1] 1 2 3

In [5]:
a[2]=2000

In [6]:
a

[1]    1 2000    3  100  200  300  400

In [7]:
a[c(1,3)]=50  # change two values
a

[1]   50 2000   50  100  200  300  400

In [8]:
sort(a,TRUE)

[1] 2000  400  300  200  100   50   50

In [9]:
sort(a,FALSE) # by  default ascending order  FALSE meaans sort in decending order

[1]   50   50  100  200  300  400 2000

In [2]:
b=rep(c(1,2,3),times=c(3,4,4))  # 1-3 times, 2-4 times, 3-4 times

In [3]:
b

 [1] 1 1 1 2 2 2 2 3 3 3 3

In [12]:
seq(from=10,to=100,by=5) # similar like for loop

 [1]  10  15  20  25  30  35  40  45  50  55  60  65  70  75  80  85  90  95 100

In [14]:
a=seq(from=1,to=5,length.out=20) # print 20 values between 1 to 5  length.out(divide the values)
a

 [1] 1.000000 1.210526 1.421053 1.631579 1.842105 2.052632 2.263158 2.473684
 [9] 2.684211 2.894737 3.105263 3.315789 3.526316 3.736842 3.947368 4.157895
[17] 4.368421 4.578947 4.789474 5.000000

In [8]:
length(a)

[1] 20

In [1]:
mark=c(1,2,3,2,3,1,1,2,2,5,23,11)
print(paste("the sum =",sum(mark==2)))  # sum the values
paste("the sum=",sum(mark==1))

[1] "the sum = 4"

[1] "the sum= 3"

In [2]:
lan=c("java","python",'r','data','python')
a=readline("enter the language you want to search ")
print(paste("the language repeated ",sum(lan==a),"times"))

enter the language you want to search r
[1] "the language repeated  1 times"

In [15]:
mark=c(1,2,3,2,3,1,1,2,2,5,23,11)
paste("unique marks are ",unique(mark))

[1] "unique marks are  1"  "unique marks are  2"  "unique marks are  3"
[4] "unique marks are  5"  "unique marks are  23" "unique marks are  11"

In [16]:
unique(mark)

[1]  1  2  3  5 23 11

In [17]:
aiml=c(10,20,30,40,50)
cys=c(30,40,50,60)
setdiff(aiml,cys) # elements of aiml that not in cys will print but the element in cys that not in aiml will not get printed

[1] 10 20

In [18]:
setdiff(cys,aiml)  # B-A

[1] 60

In [5]:
element=c()
total=as.integer(readline("enter how many values:"))  # input always be in character data type so we change it into integer
for(i in seq(total))
    {
        element[i]=as.integer(readline(paste("enter element ",i,":")))
}
print(element)
sort(element,TRUE) #decending order
sort(element) #ascending order

enter how many values:5
enter element  1 :1
enter element  2 :2
enter element  3 :3
enter element  4 :4
enter element  5 :5
[1] 1 2 3 4 5

[1] 5 4 3 2 1

[1] 1 2 3 4 5

In [ ]:
element=c()
total=as.integer(readline("enter how many values:"))  # input always be in character data type so we change it into integer
for(i in total) # without sequence we can get one input only and the runs for user input times
    {
        element[i]=as.integer(readline(paste("enter element ",i,":")))
}
print(element)
sort(element,TRUE) #decending order
sort(element,FALSE) #ascending order

In [4]:
# array

array(c(1,2,3,4,5,6),dim=c(2,3)) # 2 rows 3 columns

     [,1] [,2] [,3]
[1,] 1    3    5
[2,] 2    4    6

In [5]:
#  create 2 3x3 matrix each with 3 rows and 3 columns using 2 given vectors

a=c(1,2,3,4,5)
b=c(11,22,33,44,55,66,77,88,99) 
array(a,dim=c(3,3)) # fill by column wise

     [,1] [,2] [,3]
[1,] 1    4    2
[2,] 2    5    3
[3,] 3    1    4

In [6]:
array(b,dim=c(3,3))

     [,1] [,2] [,3]
[1,] 11   44   77
[2,] 22   55   88
[3,] 33   66   99

In [10]:
c=array(c(a,b),dim=c(3,3,2))  #3-rows  3-columns  2-number of matrix

In [11]:
print(c)

, , 1

     [,1] [,2] [,3]
[1,]    1    4   22
[2,]    2    5   33
[3,]    3   11   44

, , 2

     [,1] [,2] [,3]
[1,]   55   88    2
[2,]   66   99    3
[3,]   77    1    4

In [44]:
# print second row of the second matrix of an array

c[2,,2]   # 2nd row ,2nd column ,2nd matrix (,,) means whole row

[1] 66 99  3

In [47]:
c[3,3,1]  # 3rd row , 3rd column, 1st matrix (column row are specified so 1 value grt printed)

[1] 44

In [1]:
# write a r program to create 2 dimensional 5x3 array of sequence of even integers greater than 50
array(seq(from=50,length.out=15,to=90),dim=c(5,3))  #by and length cant use in same sequence

     [,1]     [,2]     [,3]
[1,] 50.00000 64.28571 78.57143
[2,] 52.85714 67.14286 81.42857
[3,] 55.71429 70.00000 84.28571
[4,] 58.57143 72.85714 87.14286
[5,] 61.42857 75.71429 90.00000

In [6]:
# write a r program to create 2 dimensional 5x3 array of sequence of even integers greater than 50
array(seq(from=50,to=100,by=2),dim=c(5,3)) #by and length cant use in same sequence

     [,1] [,2] [,3]
[1,] 50   60   70
[2,] 52   62   72
[3,] 54   64   74
[4,] 56   66   76
[5,] 58   68   78

In [3]:
#matrix

rname=c("r1",'r2','r3','r4')  # row name
cname=c('c1','c2','c3','c4','c5')  # column name
matrix(c(1:16),nrow=4,ncol=5,byrow=TRUE,dimnames=list(rname,cname)) # byrow=TRUE fill by row wise

Warning message in matrix(c(1:16), nrow = 4, ncol = 5, byrow = TRUE, dimnames = list(rname, :
"data length [16] is not a sub-multiple or multiple of the number of columns [5]"

   c1 c2 c3 c4 c5
r1  1  2  3  4  5
r2  6  7  8  9 10
r3 11 12 13 14 15
r4 16  1  2  3  4

In [3]:
rname=c("r1",'r2','r3','r4')
cname=c('c1','c2','c3','c4')
a=matrix(c(1:15),nrow=4,ncol=4,byrow=FALSE,dimnames=list(rname,cname)) # byrow=FALSE means filled by column wise
a

Warning message in matrix(c(1:15), nrow = 4, ncol = 4, byrow = FALSE, dimnames = list(rname, :
"data length [15] is not a sub-multiple or multiple of the number of rows [4]"

   c1 c2 c3 c4
r1 1  5   9 13
r2 2  6  10 14
r3 3  7  11 15
r4 4  8  12  1

In [16]:
#matrix

rname=c("r1",'r2','r3','r4')  # row name
cname=c('c1','c2','c3','c4')  # column name
matrix(c(1:16),nrow=4,ncol=4,dimnames=list(rname,cname)) # by default fill by column wise

   c1 c2 c3 c4
r1 1  5   9 13
r2 2  6  10 14
r3 3  7  11 15
r4 4  8  12 16

In [57]:
a[3,3] # 1st row then column

[1] 11

In [58]:
a[,3] # 3rd column full

r1 r2 r3 r4
 9 10 11 12

In [59]:
a[3,]  # 3rd row full

c1 c2 c3 c4
 3  7 11 15

In [65]:
# factors store the categorical data 
a=factor(c('java','python','java','python','c','abc'))  # unique values printed in alphabetical order
a    #levels show the unique values in alphabetical order

[1] java   python java   python c      abc
Levels: abc c java python

In [13]:
a=factor(c('java','python','java','python','c','abc'))  # unique values printed in alphabetical order
table(a)
levels(a)
a

a
   abc      c   java python
     1      1      2      2

[1] "abc"    "c"      "java"   "python"

[1] java   python java   python c      abc
Levels: abc c java python

In [66]:
table(a) #table shows how many values present in each level

a
   abc      c   java python
     1      1      2      2

In [67]:
levels(a)  #levels show the unique values in alphabetical order

[1] "abc"    "c"      "java"   "python"

In [71]:
# get input from user for a list
element=list()
total=as.integer(readline("enter how many values:"))   # input always be in character data type so we change it into integer
for(i in seq(total))
    {
        element[i]=as.integer(readline(paste("enter element ",i,":")))
}
print(element)

enter how many values:5
enter element  1 :12
enter element  2 :1
enter element  3 :1
enter element  4 :1
enter element  5 :1
[[1]]
[1] 12

[[2]]
[1] 1

[[3]]
[1] 1

[[4]]
[1] 1

[[5]]
[1] 1

In [4]:
df=data.frame(emp_id=c(1,2,3),emp_name=c("Harish","Balaji","Suiya","veeramani","sabari","rohi"),
              emp_date=as.Date(c("2019-09-26","2019-08-23","2019-07-26","2022-09-20","2000-01-01","1990-09-10")),
              gen=factor(c("m","m","f","f","f","others")))

In [19]:
df

  emp_id emp_name  emp_date   gen
1 1      Harish    2019-09-26 m
2 2      Balaji    2019-08-23 m
3 3      Suiya     2019-07-26 f
4 1      veeramani 2022-09-20 f
5 2      sabari    2000-01-01 f
6 3      rohi      1990-09-10 others

In [3]:
summary(df) # statistics

     emp_id          emp_name    emp_date          gender
 Min.   :1.00   Balaji   :1   Min.   :1990-09-10   f:4
 1st Qu.:1.25   Harish   :1   1st Qu.:2004-11-21   m:2
 Median :2.00   rohi     :1   Median :2019-08-09
 Mean   :2.00   sabari   :1   Mean   :2012-01-22
 3rd Qu.:2.75   Suiya    :1   3rd Qu.:2019-09-17
 Max.   :3.00   veeramani:1   Max.   :2022-09-20

In [4]:
str(df) #structure

'data.frame':	6 obs. of  4 variables:
 $ emp_id  : num  1 2 3 1 2 3
 $ emp_name: Factor w/ 6 levels "Balaji","Harish",..: 2 1 5 6 4 3
 $ emp_date: Date, format: "2019-09-26" "2019-08-23" ...
 $ gender  : Factor w/ 2 levels "f","m": 2 2 1 1 1 1

In [5]:
df$gen
sum(table(df$gen))  # genders with counts $ used to count the column value

[1] m      m      f      f      f      others
Levels: f m others

[1] 6

In [6]:
df$emp_name

[1] Harish    Balaji    Suiya     veeramani sabari    rohi
Levels: Balaji Harish rohi sabari Suiya veeramani

In [9]:
table(df$emp_name)

   Balaji    Harish      rohi    sabari     Suiya veeramani
        1         1         1         1         1         1

In [7]:
data.frame(df$emp_name,df$emp_date)

  df.emp_name df.emp_date
1 Harish      2019-09-26
2 Balaji      2019-08-23
3 Suiya       2019-07-26
4 veeramani   2022-09-20
5 sabari      2000-01-01
6 rohi        1990-09-10

In [8]:
df

  emp_id emp_name  emp_date   gender
1 1      Harish    2019-09-26 m
2 2      Balaji    2019-08-23 m
3 3      Suiya     2019-07-26 f
4 1      veeramani 2022-09-20 f
5 2      sabari    2000-01-01 f
6 3      rohi      1990-09-10 f

In [10]:
# sort with joining date
a=df[with(df,order(c(emp_date))),]           #c- vector isnt necessary
a

  emp_id emp_name  emp_date   gender
6 3      rohi      1990-09-10 f
5 2      sabari    2000-01-01 f
3 3      Suiya     2019-07-26 f
2 2      Balaji    2019-08-23 m
1 1      Harish    2019-09-26 m
4 1      veeramani 2022-09-20 f

In [10]:
# sort with joining date
a=df[with(df,order(emp_date)),]
a

  emp_id emp_name  emp_date   gender
6 3      rohi      1990-09-10 f
5 2      sabari    2000-01-01 f
3 3      Suiya     2019-07-26 f
2 2      Balaji    2019-08-23 m
1 1      Harish    2019-09-26 m
4 1      veeramani 2022-09-20 f

In [14]:
# sort with joining date
a=df[with(df,order(emp_date)),]
a

  emp_id emp_name  emp_date   gender
6 3      rohi      1990-09-10 f
5 2      sabari    2000-01-01 f
3 3      Suiya     2019-07-26 f
2 2      Balaji    2019-08-23 m
1 1      Harish    2019-09-26 m
4 1      veeramani 2022-09-20 f

In [17]:
df["emp_name"]

  emp_name
1 Harish
2 Balaji
3 Suiya
4 veeramani
5 sabari
6 rohi