In [1]:
#DAY 1

name="harish"
firstname.lastname="harish ak"
print(name)
print(firstname.lastname)

[1] "harish"
[1] "harish ak"

In [2]:
score=100 
print(class(score))      #by default it consider as numeric
score1=100L# L means pure integer
print(class(score1))

[1] "numeric"
[1] "integer"

In [4]:
Dept="AIML"
print(name) # paste used to print two statements

[1] "harish"

In [2]:
d=readline("Enter the Department Nuber:") # readline used to get input

Enter the Department Nuber:123

In [7]:
print(class(d))  # by default input always consider as character
d=as.integer(d)   #to convert as integer
print(class(d))

[1] "character"
[1] "integer"

In [8]:
pi=3.14
r=readline("Enter radius of donut in cm's:")
r=as.numeric(r)
area=(2*pi*r*r*pi*r*r)   # 2 pi r square * pi r square
paste("Area of donut=",area)

Enter radius of donut in cm's:3

[1] "Area of donut= 1597.2552"

In [11]:
a=10
b=20

paste("Maximum=",max(a,b))
paste("Minimum",min(a,b))

paste("Sqrt=",sqrt(a))

paste("Ceiling=",ceiling(10.2))   # ceiling round up to next value

paste("Floor=",floor(10.2)) # floor round down to previous value

[1] "Maximum= 20"

[1] "Minimum 10"

[1] "Sqrt= 3.16227766016838"

[1] "Ceiling= 11"

[1] "Floor= 10"

In [6]:
a=c(1,22,3,4,5,6,7,8,99,10)
class(a)
#index starts with 1
a[9]
#To print from one index to another
a[2:3]
a1=c("Suriya","Harish","Balji","rohith")
a2=c("True","False")

[1] "numeric"

[1] 99

[1] 22  3

In [7]:
#LIST

l=list(a,a1,a2)
l

[[1]]
 [1]  1 22  3  4  5  6  7  8 99 10

[[2]]
[1] "Suriya" "Harish" "Balji"  "rohith"

[[3]]
[1] "True"  "False"

In [8]:
a[5]=500  #5 to 500
a[c(1,2,3,4)]=c(100,200,300,400)
#Access more than one element
a[c(1,2,3,4,5)]
#To sort in ascending order
sort(a)
a3=rep(c(1,2,3),each=2)#To repeat a vector
a4=rep(c(1,2,3,4),times=c(1,2,3,9))#To repeat a vector element desired amt of time
a5=rep(c(1,2,3),times=3)  #llike loops
a3
a4
a5

[1] 100 200 300 400 500

 [1]   6   7   8  10  99 100 200 300 400 500

[1] 1 1 2 2 3 3

 [1] 1 2 2 3 3 3 4 4 4 4 4 4 4 4 4

[1] 1 2 3 1 2 3 1 2 3